.detail-container{
   width: 70%;
   margin: auto;
}

.detail-item{
   position: relative;
   margin-top: 10%;
   text-align: center;
   background-color: #303030;
   color: white;
   padding: 50px;
   border-radius: 20px;
}

.pw-check{
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
   bottom: 0px;
   display: none;
}

.detail-item .pw-check button{
   padding: 5px 10px;
   font-weight: 500;
   font-size: 13px;
}

.show-pw{
   display: block;
}

.detail-container div{
   margin-bottom: 10px;
}

.detail-title {
   cursor: pointer;
   font-size: 30px;
   font-weight: bold;
}

.detail-content {
   font-size: 25px;
   margin-top: 50px;
}

.detail-writer{
   font-size: 16px;
   font-weight: 500;
   text-align: end;
   margin-top: 150px;
}

.detail-date{
   font-size: 16px;
   font-weight: 500;
   text-align: end;
}

.detail-container button{
   cursor: pointer;
   padding: 5px 20px;
   font-weight: 700;
   font-size: 20px;
   border: none;
   border-radius: 50px;
   margin: 0 10px;
}

.detail-container button:hover{
   background-color: #aaa;
}

@media screen and (max-width: 767px) {
   .detail-container{
      width: 90%;
   }
   
   .detail-item{
      padding: 60px 20px;
   }
   
   .show-pw{
      display: block;
   }
   
   .detail-title {
      font-size: 20px;
   }
   
   .detail-content {
      font-size: 18px;
      margin-top: 30px;
   }
   
   .detail-writer{
      font-size: 14px;
      margin-top: 100px;
   }
   
   .detail-date{
      font-size: 14px;
   }
   
   .detail-container button{
      font-size: 14px;
      margin: 20px 10px;
   }
}