body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

code {
  font-family: 'Noto Sans KR', sans-serif;
}