fieldset{
   text-align: center;
   font-size: 1.5rem;
   width: 500px;
   margin: auto;
   margin-top: 5%;
   padding: 50px;
   border-radius: 20px;
   border: 5px solid black;
   position: relative;
}

.warning-alert{
   display: none;
   width: 80%;
   height: 80%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   border-radius: 20px;
   background-color: rgba(0, 0, 0, 0.9);
   color: white;
   position: absolute;
   font-weight: 700;
   font-size: 30px;
}

.show{
   display: block;
}

.warning-alert p{
   margin-top: 30%;
}

legend{
   font-weight: 700;
   font-size: 2rem;
}

.write-title input, .write-content input{
   width: 380px;
   height: 30px;
   font-size: 20px;
   border-radius: 5px;
   border: 1px solid black;
   margin-bottom: 50px;
}

.write-writer, .write-pw{
   font-size: 20px;
   margin-bottom: 20px;
}

.write-save{
   cursor: pointer;
   padding: 5px 40px;
   border-radius: 20px;
   border: none;
   font-size: 18px;
   font-weight: 700;
   background-color: rgba(0, 128, 0, 0.8);
}

.write-save:hover{
   background-color: rgb(0, 128, 0);
}

@media screen and (max-width: 767px) {
   fieldset{
      width: 80%;
      font-size: 1rem;
      padding: 30px 20px;
      border: 3px solid black;
   }
   
   .warning-alert{
      font-size: 20px;
      height: 50%;
   }

   .show{
      display: block;
   }
   
   .warning-alert p{
      margin-top: 25%;
   }
   
   legend{
      font-size: 1.5rem;
   }
   
   .write-title input, .write-content input{
      width: 90%;
      font-size: 16px;
      margin-bottom: 30px;
   }
   
   .write-writer, .write-pw{
      font-size: 16px;
      margin-bottom: 16px;
   }
   
   .write-save{
      margin-top: 20px;
      padding: 5px 40px;
      font-size: 15px;
   }
}